nav{
    width: 100vw;
    height: 70px;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.nav-scrolled{
    background: white;
    color: #161616;
}

.mobile{
    width: 100%;
    height: 100%;
}

.desktop{
    display: none;
}

.mobile-nav-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.mobile-logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mobile-logo img{
    width: 30px;
}

.mobile-burger{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.mobile-burger .material-symbols-outlined{
    font-size: 40px;
    font-weight: bold;
    color: #161616;
    color: white;
}

.mobile-nav-body{
    height: calc(100vh - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #f3f3f3;
    width: 100%;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    position: absolute;
    left: 0;
    top: 100%;
}

.mobile-nav-active{
    -webkit-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    transform: translateX(0) !important;
}

.burger-active{
    -webkit-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
}

.mobile-nav-body a{
    text-decoration: none;
    color: #161616;
    font-size: 25px;
    border-bottom: 1px solid black;
    border-bottom: 1px solid black;
    width: 80%;
    text-align: center;
    padding: 50px 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.landing{
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
}

.bglanding{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.bglanding::before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    background: black;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.bglanding img{
    height: 100%;
}

.head{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.head h1{
    color: white;
    font-size: 70px;
    letter-spacing: 10px;
}

.head h2{
    color: #99FFED;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
}

.button{

    padding: 15px 30px;
    background: #99FFED;
    color: #161616;
    font-size: 20px;
    width: max-content;
    font-weight: 500;
}

.abs{
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.texts{
    margin: 70px auto;
}

.texts div:last-child{
    margin: 70px auto 0 auto;
}

.text{
    margin: 30px 0;
    text-align: justify;
}

.text h3{
    color: #161616;
    letter-spacing: 2px;
    padding: 10px 0;
}

.text p{
    color: #535353;
}

footer{
    background: #f3f3f3;
    padding: 20px 40px;
}

footer h3{
    color: #161616;
    padding: 10px 0 ;
}

.loc, .contact{
    color: #535353;
    padding: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.f{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.f span{
    margin-right: 15px;
}

.r{
    color: #9B9B9B;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
}